<h1>Login</h1>
{{{message}}}
<form method="post" action="./login">
  <p>
    <label>用户名/邮箱</label><br />
    <input type="text" name="name" required autocomplete="off">
  </p>
  <p>
    <label>密码</label><br />
    <input type="password" name="password" required autocomplete="off">
  </p>
  <p>
    <input type="submit" value="登录"><br /><br />
    <a href="../auth/register">去注册</a>
  </p>
</form>
