<h1>Login</h1>
{{{message}}}
<form method="post" action="./login">
  <p>
    <label>Username:</label>
    <input type="text" name="name" required autocomplete="off">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" required autocomplete="off">
  </p>
  <p>
    <input type="submit" value="Login">
    <a href="../auth/register">去注册</a>
  </p>
</form>
