<h1>Register</h1>
{{{message}}}
<form method="post" action="./register">
  <p>
    <label>Username:</label>
    <input type="text" name="name" required>
  </p>

  <p>
    <label>Password:</label>
    <input type="password" name="password" title="密码需包含数字、字母和特殊字符">
  </p>
    <p>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:</label>
        <input type="email" name="email" required pattern="^[a-zA-Z0-9._%+-]+@(?!.*\.\..*)[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
    </p>
  <p>
    <input type="submit" value="注册">
      <a href="../auth/login">去登录</a>
  </p>
</form>
